header{
    background-color: #212529 !important;
    position: fixed;
    z-index: 3;
    width: 100%;
}
header span{
    color: white !important;
}
header
header svg{
    margin: 0rem 1rem 0rem 1rem;
    color: white;
}
.colorlink{
    color: #e0e0e0 !important;
}
.colorlink:hover{
    color: cornflowerblue !important;
}
#homebutton:hover{
    background-color: #e0e0e0!important;
    color: #0D6EFD!important;
}

.sombra:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

.filtro{
    display: none;
}